html {
    height: 100%;
}

body {
    min-height: 100%;
    height: auto !important;
    position: relative;
}

.navbar-right li:last-of-type a {
    padding-right: 0;
}

.input-group-btn {
    top: -1px;
}

.input-group-btn .btn {
    height: 34px;
}

.page-footer {
    width: 100%;
    padding: 15px;
    position: absolute;
    bottom: 0;
    background-color: #f3f3f3;
}

.c-888 {
    color: #888;
}

.article h1 {
    font-size: 28px;
}

.article .text {
    font-size: 16px;
    line-height: 180%;
}

.article .text img {
    margin: 15px auto;
    width: 100%;
    display: block;
}

.pagination>.active>a,
.pagination>.active>span {
    z-index: 3;
    color: #777;
    background-color: #eee;
    border-color: #ddd;
    cursor: default;
}

.pagination>li>a {
    color: #777;
}

.signin form {
    max-width: 330px;
    padding: 15px;
    margin: 50px auto;
}

.signin form h2 {
    font-size: 22px;
    margin-bottom: 30px;
    text-align: center;
}

.signin form .form-control {
    position: relative;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.signin form .form-control:focus {
    z-index: 2;
}

.signin form input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.signin form input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.signin .logo {
    text-align: center;
    padding-bottom: 30px;
}

.signin .logo img {
    width: 180px;
}

.search h1, .admin-main h1 {
    margin: 0 0 20px 0;
}

#change-avatar {
    margin-top: 45px;
}